{{extends "./default.jet.html"}}
{{block body()}}
<div class="container">
    <div class="section">
        <div class="row" style="margin-top: 2em;">
            <div class="col s12">
                <div class="row">
                    <div class="col s12" method='post'>
                        <center style="padding-bottom: 2em;">
                            <h5 class="indigo-text">Ratings</h5>
                            <h6>Last updated on 29/7/22</h6>
                        </center>
                        <div class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="query" type="text" class="validate">
                                    <label for="query">Searching?</label>
                                </div>
                            </div>
                        </div>
                        <table id="ratinginfo" class="highlight responsive-table">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Artist</th>
                                <th>Rating</th>
                                <th>Label</th>
                                <th>Year</th>
                            </tr>
                            </thead>

                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <br><br>
    </div>
</div>
{{end}}

{{block header()}}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">
<style>
    .dataTables_filter {
        display: none;
    }
</style>
{{end}}

{{block footer()}}
<script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script>
    function covert_to_row(rate){
        if(rate["rating"] != null){
            album = rate["spotify_album"];
            console.log(album);
            if(album===undefined){
                album = rate["album"];
            }
            if(album===undefined){
                album = rate["title"];
            }
            artist = rate["spotify_art_name"];
            if(artist===undefined){
                artist = rate["artist"];
            }
            return [album,artist,rate["rating"],rate["spotify_label"],rate["year"]]
        }
    }

    $(document).ready( function () {
        table = $('#ratinginfo').DataTable({
            searching: true,
            responsive:true,
            columnDefs: [{
                "defaultContent": "-",
                "targets": "_all"
            }],
            }
        );
        fetch("/data.client.json")
            .then(response => {
                return response.json();
            }).then(json => {
            data = json
            data.forEach(function (item, index) {
                var data = covert_to_row(item)
                if(data!=null){
                    table.row.add(data);
                }
            });
            table.draw(true);
        })
        $('#query').keyup(function(){
            table.search( $(this).val() ).draw();
            console.log( $(this).val());
        })
    });
    // const fuse = new Fuse(list, options);

</script>
{{end}}